In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.express as px

In [72]:
# from google.colab import drive
# drive.mount('/content/drive')

#Import Dataset

In [73]:
df_course = pd.read_csv('Coursera_reviews.csv')
df_course

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training
2,Information was perfect! The program itself wa...,By Jacob D,"Apr 08, 2020",4,google-cbrs-cpi-training
3,A few grammatical mistakes on test made me do ...,By Dale B,"Feb 24, 2020",4,google-cbrs-cpi-training
4,Excellent course and the training provided was...,By Sean G,"Jun 18, 2020",4,google-cbrs-cpi-training
...,...,...,...,...,...
1454706,g,By Brijesh K,"Aug 25, 2020",5,computer-networking
1454707,.,By Vasavi V M,"Jul 02, 2020",5,computer-networking
1454708,.,By Drishti D,"Jun 20, 2020",5,computer-networking
1454709,.,By FAUSTINE F K,"Jun 07, 2020",5,computer-networking
1454710,G,By Reza S,"Aug 12, 2018",5,computer-networking

#Preprocessing

In [74]:
df_course.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

In [75]:
print(df_course.reviewers.value_counts())

By Deleted A     5412
By Muhammad A     649
By Abhishek S     440
By David M        435
By Michael S      431
                 ...
By Calvin N         1
By Kachan O V       1
By Tan S X A        1
By Yusong S         1
By Yu-Jhen-Wu       1
Name: reviewers, Length: 287808, dtype: int64

In [76]:
df_course = df_course[df_course.reviewers != "By Deleted A"]

In [77]:
df_course.shape

(1449299, 5)

In [78]:
df_course = df_course.sample(50000, replace=True)

In [79]:
df_course.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 386430 to 1086967
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reviews       49998 non-null  object
 1   reviewers     50000 non-null  object
 2   date_reviews  50000 non-null  object
 3   rating        50000 non-null  int64
 4   course_id     50000 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.3+ MB

In [80]:
df_course = df_course.drop('reviews', axis=1)

In [81]:
df_course.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 386430 to 1086967
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reviewers     50000 non-null  object
 1   date_reviews  50000 non-null  object
 2   rating        50000 non-null  int64
 3   course_id     50000 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

In [82]:
print(df_course.reviewers.value_counts())

By David B        21
By Michael M      18
By David S        17
By Muhammad A     17
By Mohammad A     16
                  ..
By Anthony C A     1
By Ð­Ñ€Ð¼ÐµÐºÐ° Ðš        1
By Dr. M D N       1
By Zhang S         1
By Agnetha C S     1
Name: reviewers, Length: 40602, dtype: int64

In [83]:
df_course.nunique()

reviewers       40602
date_reviews     1889
rating              5
course_id         595
dtype: int64

In [84]:
#Label Encoding
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df_course['userId']= label_encoder.fit_transform(df_course['reviewers'])
df_course['courseId']= label_encoder.fit_transform(df_course['course_id'])
df_course.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 386430 to 1086967
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reviewers     50000 non-null  object
 1   date_reviews  50000 non-null  object
 2   rating        50000 non-null  int64
 3   course_id     50000 non-null  object
 4   userId        50000 non-null  int32
 5   courseId      50000 non-null  int32
dtypes: int32(2), int64(1), object(3)
memory usage: 2.3+ MB

In [85]:
df_course.rename(columns = {'course_id':'course_name'}, inplace = True)

In [86]:
#Clean yang siap dimasukkan ke model
df = df_course[["userId", "courseId", "course_name", "rating"]]

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 386430 to 1086967
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       50000 non-null  int32
 1   courseId     50000 non-null  int32
 2   course_name  50000 non-null  object
 3   rating       50000 non-null  int64
dtypes: int32(2), int64(1), object(1)
memory usage: 1.5+ MB

In [88]:
df.nunique()

userId         40602
courseId         595
course_name      595
rating             5
dtype: int64

In [89]:
df.head()

         userId  courseId                 course_name  rating
386430    21461       398                         pap       5
525926    31909       340   machine-learning-projects       5
626002    36819       588                 wind-energy       4
1311513   10995       372  music-business-foundations       5
917874    22336       209            forensic-science       5

In [90]:
df.to_csv('course_clean.csv', index=False)